
html, body {
    height: 100%;
    width: 100%;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn :hover {
    background-color: cornflowerblue;
    padding: 10px 5px 10px 5px;
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
}